body{
    margin-left:7%;
    background-color: black;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
}


.head-text{
    color:grey;
    font-size: 20px;
    margin-right: 0;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    top:47%;
    left:54.5%;
}

.button1{
    display: inline-block;
    background-color:#00264d;
    font-size: 17px;
    height: auto;
    width: 170px;
    border-radius: 10px;
    border: 2px solid #000033;
    position: absolute;
    left:17%;
    top:55%;
    cursor:pointer;
    padding:10px;
    color:whitesmoke;
    
    
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }
  

.wrapper-outer{
    display:block;
    background-color: darkcyan;
    width: 270px;
    height: 330px;
    border: 1px solid black;
    border-radius: 7%;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    left:50%;
    top:20%;
    opacity: 0.8;
   
}
.wrapper-inner{
    display: block;
    background-color: #d9d9d9 ;
    border: none;
    border-radius: 7%;
    position: absolute;
    top:52%;
    left:0;
    height:150px;
    width:270px;
 

}
.logo-wrap>img{
    position: absolute;
    top:11%;
    left:7%;
    height: 80px;
    width: auto;
}
.logo-wrap{
    background-color: white;
    border: 2px dotted darkcyan;
    border-radius: 50%;
    position:absolute;
    top:21%;
    left:54.5%;
    display:inline-block;
    height: 120px;
    width: 140px;
    overflow: auto;
    
}
