.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar{
    min-width: 250px;
    max-width: 250px;
    min-height:100vh;
    background: rgb(5, 6, 14);
    color: #fff;
    position: fixed;
    top:6%;
    transition: transform .5s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 3;
    
}
#sidebar.show{
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}


#sidebar.hide{
    transform: translate3d(-100vw, 0, 0);
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
