body{
    margin:0;
    background-color:#e6e6e6;
}
/***These are for navigation bar items  **/
.item1{
    position:absolute;
    top:10%;
    left: 78%;;
    color:white;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.item2{
    position:absolute;
    top:10%;
    left: 88%;;
    color:white;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.item3{
    position:absolute;
    top:10%;
    left: 70%;;
    color:white;
    padding: 10px;
    align-content: center;
    text-align: center;
}

/****************************************/

#main-group{
    height:150%;
    width:80%;
    border-radius: 5px;
    border: 1px black;
    margin-top:5%;
    padding:10px;
    background-color: #b3cccc;
    position: absolute;
    top: auto;
    left: 10%;
    transition: transform .7s cubic-bezier(0, .52, 0, 1);
    z-index:1;
   
    
}
#main-group.stay{
    transform: translate3d(0vw, 0, 0);
}
#main-group.move{
    transform: translate3d(80px, 0, 0);
    overflow: hidden;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: 1;
}
@keyframes example{
  0% {background-color: #b3cccc;}
  50% {background-color: rgb(23, 151, 151);}
  100% {background-color: #6d7fcc;}
}

.img-dp{
    height:auto;
    width:auto;
    position: relative;
    top: 2%;
    left: 5%;
  
}
.img-border{
    border-bottom-right-radius: 20%;
    border: 3px solid #b3cccc;
    width: fit-content;
    height: fit-content;
}

.card-body{
    position: absolute;
    top: 2%;
    left: 23%;
}
.card-subtitle{
    font-size: larger;
    position: absolute;
    top: 30%;
    left: 70%;

}
.card2{
    position: absolute;;
    top:115px;
    left:220px;
}
.badger{
    border:2px solid #669999;
    border-radius: 8px;
    padding: 2px;
    width: fit-content;
}
.contrib-group{
    position: absolute;
    top:25%;
    left:35%;

}
.high4{
    color:#006666;
}
.head-text{
    color:#334d4d;
    border:6px solid white;
    padding:3px;
    padding-left: 25px;
    font-family: Cambria;
}
.badger2{
    border:solid #669999;
    border-radius: 8px;
    padding-left: 2px;
    margin-left: 45px;;
    width: fit-content;

}
.footer{
    margin:0;
    padding:0px;
    color: darkslategrey;
    position:absolute;
    top:153%;
    left:40%;
    text-align: center;
    z-index: 1;
    
}
/********* This is Leaderboard layout**********/
.main-group-leaderboard{
    height:150%;
    width:80%;
    border-radius: 5px;
    border: 1px;
    margin-top:1%;
    padding:20px;
    background-color: #b3cccc;
    position: absolute;
    top: auto;
    left: 10%;
    align-items: center;
}
.sub-group{
    border: 1px;
    border-radius: 5px;
    margin:auto;
    background-color: #20B2AA;
    width:100%;
    height:35%;
    

}
.custom-card{
    border:1px;
    border-radius: 10px;
    padding:10px;
    width:auto;
    height:auto;
    display:inline-block;
}
.custom-card>img{
    align-items: center;
}

.custom-card>h4{
    width:200px;
    height:auto;
    position:relative;
    top:auto;
    left:auto;
    align-items: center;
}
.scroll-box{
    margin-top: 10px;
    height:55%;
    width:auto;
    overflow-y: scroll;
    overflow-x: visible;

}
.back-ground{
    background-color: darkslategray;
    height:100vmax;
    width: 100vmax;
}